header {
  width: 100%;
  height: 180px;
  background-color: rgb(129, 213, 223);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  color: #fff;

  .logo {
    font-size: 27px;
    font-weight: bold;

  }

  
}


.sidebar-wrap {
    display: grid;
    grid-template-columns: 240px 1fr;


    @media(max-width: 768px){
      display: flex;
      flex-direction: column-reverse;
    }

}

.top {
    background: green;
    height: 200px;
}
